<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Fang</title>
  <meta name="description" content="澳洲租房|租房|找房|短租">
  <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900"/> -->
  <link rel="stylesheet" href="/css/main.css"/>
  <link rel="stylesheet" href="/css/app.css"/>
  <link rel="stylesheet" href="/fonts/rental-icon/css/rental-icon.min.css"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"/>
</head>
<body>
<div id="app">{{ html|safe }}</div>
<!-- <script type="text/javascript" src="https://maps.google.com/maps/api/js?libraries=places&sensor=false"></script> -->
<script src="/js/vendor.js"></script>
<script src="/js/vendor.bundle.js"></script>
<script src="/js/bundle.js"></script>
</body>
</html>
