$main-color: #e36159;
$hover-bg-color: #f8f8f8;
$border-color: #ececec;
$header-color: #000;
$text-color: #999;
$features-bg-color: #1b2835;

$break-small: 320px;
$break-medium: 640px;
$break-large: 1200px;

$break-small-theme-max: 480px;
$break-medium-theme-max: 767px;
$break-medium-large-theme-max: 991px;
$break-large-max: 1199px;

%overflow-text {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
%border-with-hover {
  border: 5px solid $border-color;
  transition: 1s;
  transform-style: preserve-3d;
}
%border-hover-effect {
  background: $hover-bg-color;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
}
%box-shadow {
  -webkit-box-shadow: 0 0 5px #444;
  -moz-box-shadow: 0 0 5px #444;
  -ms-box-shadow: 0 0 5px #444;
  -o-box-shadow: 0 0 5px #444;
  box-shadow: 0 0 5px #444;
}
%no-box-shadow {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}

body {
  background-color: #fff;
}

.navbar-form {
  .search-results {
    display: block;
    position: absolute;
    top: 34px;
    list-style: none;
    margin: 0;
    padding: 0px;
    background-color: #fff;
    border: 1px solid #cfdadc;
    width: 120%;
    height: 900%;
    overflow-x: hidden;
    overflow-y: scroll;
    .search-list-item {
      padding: 12px;
      &:hover {
        background-color: #cfdadc;
        cursor: pointer;
      }
      a {
        text-decoration: none;
      }
    }
  }
}

.map-container {
  height: 300px;
  @extend %border-with-hover;
  &:hover {
    @extend %border-hover-effect;
  }
}

.type-container {
  position: absolute;
  top: 5px;
  left: 5px;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  .estate-type {
    float: left;
    margin-right: 5px;
    padding: 0 10px 0 10px;
    background-color: #ee7e23;
  }
  .ads-flag {
    float: left;
    padding: 0 10px;
    background-color: #22a41c;
  }
}

#react-paginate {
  clear: both;
}

#react-paginate ul {
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
}

#react-paginate li {
  display: inline-block;
}

#react-paginate .break a {
  cursor: default;
}

.list-offer-col {
  clear: both;
  float: left;
  width: 100%;
  margin: 0;
  padding: .6em 0;
  list-style: none;
  .list-offer {
    clear: both;
    float: left;
    width: 100%;
    margin: 0;
    padding: 1em 0;
    position: relative;
    a {
      display: block;
      float: left;
      width: 94%;
      position: relative;
      left: 3%;
      overflow: hidden;
      color: $text-color;
      text-decoration: none;
      &:hover {
        cursor: pointer;
        background: $hover-bg-color;
      }
      > span {
        display: block;
        float: left;
        width: 33%;
        position: relative;
        img {
          border: 5px solid $border-color;
          display: block;
          float: left;
          width: 100%;
        }
      }
      > div {
        padding-top: .3em;
        padding-bottom: .3em;
        font-size: 1.1em;
        float: right;
        width: 63%;
        position: relative;
        right: 1%;
        overflow: hidden;
        h2, h3, h4 {
          margin: 0;
          padding: 0;
          font-weight: bold;
          color: $header-color;
        }
        h2 {
          float: left;
        }
        h3 {
          float: right;
        }
        h4 {
          clear: left;
          float: left;
          padding: .2em 0 0 0;
          font-size: 1.2em;
          width: 75%;
          color: $text-color;
          @extend %overflow-text;
        }
        p {
          clear: both;
          margin: 0;
          padding: .6em 0 .3em 0;
          @extend %overflow-text;
        }
      }
      ul {
        list-style: disc;
        display: block;
        width: 100%;
        margin: 0;
        padding: 0 .3em 0 0;
        @extend %overflow-text;
        li {
          display: block;
          width: 50%;
          position: relative;
          padding: 0 2em 0 0;
          float: left;
          line-height: 1.4em;
          margin: 0;
          @extend %overflow-text;
          &:before {
            content: "• ";
            font-weight: bold;
          }
        }
      }
    }
  }
}

.grid-offer-col {
  padding: 15px;
  .grid-offer {
    overflow: hidden;
    position: relative;
    margin: auto;
    width: 100%;
    @extend %border-with-hover;
    &:hover {
      cursor: pointer;
      @extend %border-hover-effect;
    }
    .panel-body{
      padding: 0;
      .grid-offer-photo {
        border-bottom: 2px solid $main-color;
        overflow: hidden;
        position: relative;
        img {
          width: 100%;
          vertical-align: middle;
          border: none;
        }
      }
      .grid-offer-text {
        font-size: 1.1em;
        color: $text-color;
        padding: 20px 5px 0 5px;
        border: none;
        height: 120px;
        text-overflow: ellipsis;
        overflow: hidden;
        line-height: 1.67em;
        .grid-offer-h2 {
          @extend %overflow-text;
          display: inline;
          font-size: 1.6em;
          color: $header-color;
          font-weight: 700;
        }
        .grid-offer-h4 {
          @extend %overflow-text;
          float: left;
          width: 90%;
          margin-top: 2px;
          display: inline;
          font-size: 1.2em;
          font-weight: 700;
        }
      }
      .price-grid-cont {
        border-top: 1px solid $border-color;
        padding: 0 30px 0 30px;
        .grid-price-label {
          line-height: 42px;
          font-weight: bold;
          font-size: 1.17em;
          width: 40%;
        }
        .grid-price {
          width: 60%;
          height: 42px;
          font-size: 1.38em;
          font-weight: bold;
          text-align: right;
          line-height: 42px;
        }
      }
      .grid-offer-params {
        background: $features-bg-color;
        float: left;
        width: 100%;
        color: #fff;
        ul {
          @extend %overflow-text;
          display: block;
          margin: 0;
          padding: 0 10px;
          list-style: disc;
          width: 100%;
          font-weight: bold;
          height: 42px;
          li {
            @extend %overflow-text;
            display: inline;
            float: none;
            margin: 0;
            padding: 0;
            line-height: 42px;
            &:before {
              content: "• ";
              font-weight: bold;
            }
          }
        }
      }
    }
  }
}

#results {
  float: left;
  width: 100%;
  @media screen and (min-width: $break-medium) {
    width: 68%;
  }
}

#refine {
  padding: 60px 4% 20px;
  border-bottom: 0;
  background: #fff;
  position: fixed;
  //display: none;
  text-align: left;
  float: right;
  height: 100%;
  width: 320px;
  top: 0;
  right: 0;
  overflow: scroll;
  z-index: 700;
  @extend %box-shadow;
  a[data-closerefine] {
    position: fixed;
    top: 50px;
    right: 10px;
    text-decoration: none;
    color: #666;
    font-size: 1.5em;
    padding: 10px;
  }
  @media screen and (min-width: $break-medium) {
    padding: 70px 2% 20px;
    display: block;
    width: 30%;
    height: auto;
    position: relative;
    padding-top: 1em !important;
    background: #fff;
    @extend %no-box-shadow;
    a[data-closerefine] {
      display: none;
    }
  }
  h3 {
    clear: both;
    float: left;
    width: 100%;
    margin: .5em 0;
    padding: 0;
    font-weight: normal;
    color: $header-color;
  }
  ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
    strong, a {
      display: block;
      float: left;
      width: 100%;
      padding: .5em 7%;
      color: $text-color;
      text-decoration: none;
    }
    strong {
      font-weight: normal;
      color: $header-color;
      background: $border-color;
    }
    a:hover {
      background: #f8f8f8;
      color: #000;
    }
  }
}
