$brand-color: #F44336;
$light-brand-color: #F77970;
$dark-brand-color: #E11B0C;
$body-bg: #fff;
$footer-bg: #212121;
$text-color: #000;
$revert-text-color: #fff;
$revert-text-color-shadow: #444;
$title-color: #212121;
$revert-title-color: #fcf9f9;
$subtitle-color: #727272;
$text-over-brand: #fefefe;
$form-control-color: #cfdadc;

$hover-bg-color: #f8f8f8;
$border-color: #ececec;
$header-color: #000;
$features-bg-color: #1b2835;

$break-small: 480px;
$break-medium: 768px;
$break-large: 1170px;

%overflow-text {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
%border-with-hover {
  border: 5px solid $border-color;
  transition: 1s;
  transform-style: preserve-3d;
}
%border-hover-effect {
  background: $hover-bg-color;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
}
%box-shadow {
  box-shadow: 0 0 5px #444;
}
%no-box-shadow {
  box-shadow: none;
}

body {
  background-color: $body-bg;
  padding-top: 100px;
  @media screen and (max-width: $break-medium) {
    padding-top: 70px;
  }
}

i.property-icon {
  font-style: normal;
  &:before {
    margin: 0;
  }
}

#carousel-home {
  margin-top: -100px;
  .carousel-inner {
    overflow: visible;
  }
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
    max-height: 500px;    /* Set slide height here */
    min-width: 100%;
    object-fit: cover;
  }
  .carousel-caption {
    bottom: 25%;
    h1 {
      font-size: 1.6em;
    }
    p.lead {
      font-size: 1.2em;
    }
    @media screen and (min-width: $break-small) {
      bottom: 35%;
      h1 {
        font-size: 36px;
      }
      p.lead {
        font-size: 21px;
      }
    }
  }
  .navbar-form {
    display: none;
    @media screen and (min-width: $break-small) {
      display: block;
      width: 50%;
      left: 25%;
      position: absolute;
      top: 60%;
    }
  }
}

.navbar.home {
  .navbar-form {
    display: block;
    @media screen and (min-width: $break-small) {
      display: none;
    }
  }

  @media screen and (min-width: $break-medium) {
    background-color: transparent;
    box-shadow: none;
  }
}

.navbar.searchResult {
  .glyphicon-filter {
    display: none;
    @media screen and (max-width: $break-medium) {
      padding: 16px;
      position: absolute;
      right: 60px;
      color: white;
      font-size: 18px;
      display: block;
      cursor: pointer;
    }
  }
}

.navbar {
  opacity: 0.97;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(0, 0, 0, 0.05);
  .nav-collapse {
    background-color: $footer-bg;
  }
  .navbar-brand {
    img {
      width: 40px;
      margin-top: -10px;
    }
  }
  .glyphicon-filter {
    display: none;
  }
  @media screen and (min-width: $break-medium) {
    .navbar-brand {
      img {
        width: 50px;
        margin-top: 0;
      }
      .triangles {
        left: 90px;
        top: 40px;
      }
    }
  }
  #navbar {
    ul {
      li {
        a {
          cursor: pointer;
          &:hover, &:active, &:focus {
            text-decoration: none;
            background-color: $revert-text-color-shadow;
          }
        }
      }
    }
    @media screen and (min-width: $break-medium) {
      background: transparent;
      a {
        padding-top: 30px;
        padding-bottom: 30px;
      }
      ul {
        li {
          a {
            &:hover, &:active, &:focus {
              text-decoration: none;
              border-bottom: 4px solid $brand-color;
              padding: 30px 5px 5px 5px;
              margin: 0 10px 21px 10px;
              background-color: transparent;
            }
          }
        }
      }
    }
  }
  .navbar-form {
    position: absolute;
    width: 50%;
    top: 0;
    padding: 0;
    border: 0;
    left: 70px;
    margin: 8px 0;
    @media screen and (min-width: $break-medium) {
      margin: 23px 0;
      left: 80px;
    }
  }
}

.navbar-form {
  box-shadow: none;
  .input-group {
    width: 100%;
    .input-group-btn {
      width: 39px !important;
      .btn-default {
        color: $text-color;
        border-color: $form-control-color;
        &:hover {
          color: $title-color;
        }
      }
    }
    input {
      width: 100% !important;
    }
  }
}

.search-results {
  display: block;
  position: absolute;
  top: 34px;
  list-style: none;
  margin: 0;
  padding: 0px;
  background-color: #fff;
  border: 1px solid $form-control-color;
  width: 100%;
  height: 900%;
  overflow-x: hidden;
  overflow-y: scroll;
  z-index: 99;
  .search-list-item {
    padding: 12px;
    &:hover {
      background-color: $form-control-color;
      cursor: pointer;
    }
    a {
      text-decoration: none;
    }
  }
}


footer {
  h1, h2, h3 {
    color: $revert-title-color;
  }
}

.map-container {
  height: 300px;
  @extend %border-with-hover;
  &:hover {
    @extend %border-hover-effect;
  }
}

.type-container {
  position: absolute;
  top: 5px;
  left: 5px;
  text-transform: uppercase;
  font-weight: bold;
  color: $text-over-brand;
  @media screen and (max-width: $break-small) {
    display: none;
  }
  .estate-type {
    float: left;
    margin-right: 5px;
    padding: 0 10px 0 10px;
    background-color: $brand-color;
  }
  .ads-flag {
    float: left;
    padding: 0 10px;
    background-color: #E7B526;
  }
  .updated-flag {
    float: left;
    padding: 0 10px;
    background-color: #93BA50;
  }
}

#react-paginate {
  clear: both;
  text-align: center;
}

#react-paginate ul {
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
}

#react-paginate li {
  display: inline-block;
  .active > a,
  a:hover, a:focus {
    background-color: $brand-color;
    border-color: $brand-color;
    color: $text-over-brand;
  }
}

#react-paginate .break a {
  cursor: default;
}

.list-offer-col {
  clear: both;
  float: left;
  width: 100%;
  margin: 0;
  padding: .6em 0;
  list-style: none;
  .list-offer {
    clear: both;
    float: left;
    width: 100%;
    margin: 0;
    padding: 1em 0;
    position: relative;
    a {
      display: block;
      float: left;
      width: 94%;
      position: relative;
      left: 3%;
      overflow: hidden;
      color: $subtitle-color;
      text-decoration: none;
      &:hover {
        cursor: pointer;
        background: $hover-bg-color;
      }
      > span {
        display: block;
        float: left;
        width: 33%;
        position: relative;
        img {
          border: 5px solid $border-color;
          display: block;
          float: left;
          width: 100%;
        }
      }
      > div {
        padding-top: .3em;
        padding-bottom: .3em;
        font-size: 1.1em;
        float: right;
        width: 63%;
        position: relative;
        right: 1%;
        overflow: hidden;
        h2, h3, h4 {
          margin: 0;
          padding: 0;
          font-weight: bold;
          color: $title-color;
        }
        h2 {
          float: left;
        }
        h3 {
          float: right;
        }
        h4 {
          clear: left;
          float: left;
          padding: .2em 0 0 0;
          font-size: 1.2em;
          width: 75%;
          color: $text-color;
          @extend %overflow-text;
        }
        @media screen and (max-width: $break-small) {
          h2, h3 {
            font-size: 1.4em;
          }
          h4 {
            font-size: 1em;
          }
        }
        p {
          clear: both;
          margin: 0;
          padding: .6em 0 .3em 0;
          @extend %overflow-text;
        }
      }
      ul {
        list-style: disc;
        display: block;
        width: 100%;
        margin: 0;
        padding: 0 .3em 0 0;
        @extend %overflow-text;
        li {
          display: block;
          width: 50%;
          position: relative;
          padding: 0 2em 0 0;
          float: left;
          line-height: 1.4em;
          margin: 0;
          @extend %overflow-text;
          &:before {
            content: "• ";
            font-weight: bold;
          }
        }
      }
    }
  }
}

.grid-offer-col {
  padding: 15px;
  .grid-offer {
    overflow: hidden;
    position: relative;
    margin: auto;
    width: 100%;
    @extend %border-with-hover;
    &:hover {
      cursor: pointer;
      @extend %border-hover-effect;
    }
    .panel-body{
      padding: 0;
      .grid-offer-photo {
        overflow: hidden;
        position: relative;
        img {
          width: 100%;
          vertical-align: middle;
          border: none;
          height: 190px;
          object-fit: cover;
        }
      }
      .grid-offer-text {
        font-size: 1em;
        color: $subtitle-color;
        margin: 15px;
        border: none;
        height: 98px;
        text-overflow: ellipsis;
        overflow: hidden;
        line-height: 1.67em;
        .grid-offer-h4 {
          @extend %overflow-text;
          color: $title-color;
          display: inline;
          font-size: 1.2em;
          font-weight: 700;
        }
      }
      .price-grid-cont {
        padding: 0 20px;
        background-color: $brand-color;
        color: $text-over-brand;
        .grid-price-label {
          line-height: 40px;
          font-weight: bold;
          font-size: 1em;
          width: 70%;
          @extend %overflow-text;
          i.property-icon:before {
            font-size: 14px;
          }
        }
        .grid-price {
          width: 30%;
          height: 40px;
          font-size: 1.18em;
          font-weight: bold;
          text-align: right;
          line-height: 40px;
        }
      }
      .grid-offer-params {
        float: left;
        width: 100%;
        color: $subtitle-color;
        border-top: 1px solid $border-color;
        ul {
          @extend %overflow-text;
          display: block;
          margin: 0;
          padding: 0 10px;
          list-style: disc;
          width: 100%;
          height: 42px;
          li {
            @extend %overflow-text;
            display: inline;
            float: none;
            margin: 0;
            padding: 0;
            line-height: 42px;
            &:before {
              content: "• ";
              font-weight: bold;
            }
          }
        }
      }
    }
  }
}

#results {
  float: left;
  width: 100%;
  @media screen and (min-width: $break-medium) {
    width: 68%;
  }
}

#refine {
  border-bottom: 0;
  background: $body-bg;
  text-align: left;
  float: right;
  top: 0;
  right: 0;
  overflow: scroll;
  z-index: 700;
  padding: 70px 2% 20px;
  display: block;
  width: 30%;
  height: auto;
  position: relative;
  padding-top: 1em !important;
  @extend %no-box-shadow;
  a[data-closerefine] {
    position: fixed;
    top: 50px;
    right: 10px;
    text-decoration: none;
    color: #666;
    font-size: 1.5em;
    padding: 10px;
    display: none;
  }
  @media screen and (max-width: $break-medium) {
    padding: 60px 4% 20px;
    position: fixed;
    display: none;
    height: 100%;
    width: 320px;
    margin-top: 50px;
    a[data-closerefine] {
      display: block;
    }
  }
  &.data-refine {
    display: block;
    @extend %box-shadow;
  }
  h3 {
    clear: both;
    float: left;
    width: 100%;
    margin: .5em 0;
    padding: 0;
    font-weight: normal;
    color: $header-color;
  }

  ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
    a, >span {
      display: block;
      float: left;
      width: 100%;
      padding: .5em 7%;
      color: $text-color;
      text-decoration: none;
      cursor: pointer;
    }
    a.active, >span.active {
      font-weight: normal;
      color: $header-color;
      background: $border-color;
    }
    a:hover, >span:hover {
      background: #f8f8f8;
      color: #000;
    }
  }

  .price-slider {
    width: 100%;
    max-width: 500px;
    height: 2px;
    clear: both;
    padding: 20px;
  }

  .handle {
    font-size: 0.9em;
    text-align: center;
    background-color: $brand-color;
    color: $text-over-brand;
    cursor: pointer;
    top: 9px;
    width: 24px;
    height: 24px;
    span {
      position: absolute;
      color: $title-color;
      font-size: 1.2em;
      font-weight: bold;
      top: -22px;
      left: -8px;
    }
  }

  .handle.active {
    background-color: $dark-brand-color;
  }

  .bar {
    position: relative;
    background-color: $light-brand-color;
    height: 2px;
    &.bar-0 {
      background-color: $dark-brand-color;
    }
    &.bar-1 {
      background-color: $light-brand-color;
    }
  }
}

.property-details-container {
  line-height: 2em;
  font-size: 1.2em;
  color: $title-color;
  .row {
    margin-left: 0;
    margin-right: 0;
  }
  .property-cover {
    cursor: pointer;
    margin-top: -20px;
    >div {
      position: relative;
      >span {
        position: absolute;
        top: 50%;
        margin-top: -24px;
        color: $revert-title-color;
        z-index: 99;
        font-size: 48px;
        &.glyphicon-menu-right {
          right: 0;
        }
        &.glyphicon-menu-left {
          left: 0;
        }
        text-shadow: $revert-text-color-shadow;
      }
    }
    img {
      object-fit: cover;
      max-height: 500px;
      width: 100%;
    }
  }
  .top-section {
    margin-left: 60px;
    margin-right:60px;
    .property-info {
      padding-right: 60px;
      padding-left: 0;
      .primary {
        padding: 30px 0;
        span.price {
          color: $title-color;
          font-weight: bold;
          font-size: 1.8em;
        }
        .property-type {
          .grid {
            border-right: 1px solid $border-color;
            display: inline-block;
            width: 49%;
            text-align: center;
            &:last-child {
              border-right: none;
            }
            .property-icon {
              &:before {
                font-size: 40px;
                display: block;
                color: $subtitle-color;
              }
            }
          }
        }
      }
      .desc {
        text-align: justify;
        color: $subtitle-color;
      }
    }
    .contact-details {
      background-color: $hover-bg-color;
      border-bottom: 5px solid $brand-color;
      border-left: 1px solid $border-color;
      border-right: 1px solid $border-color;
      padding: 30px;
      .fa {
        margin-right: 4px;
        color: $subtitle-color;
      }
    }
  }

  .map-container {
    margin: 50px 0;
  }

  .property-misc {
    background-color: $hover-bg-color;
    padding: 60px;
    h3 {
      margin-top: 0;
    }
    .property-feature {
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        .property-icon {
          &:before {
            margin-right: 4px;
          }
        }
      }
    }
  }
  @media screen and (max-width: $break-medium) {
    .top-section {
      margin-left: 10px;
      margin-right:10px;
      .property-info {
        padding-right: 0px;
        padding-left: 0;
        .property-type {
          margin-top: 10px;
        }
      }
      .contact-details {
        border-top: 1px solid $border-color;
        margin-top: 40px;
      }
    }
    .property-misc {
      text-align: center;
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
      }
      .lease-details {
        margin-top: 20px;
      }
    }
  }
}


form {
  section {
    margin-top: 20px;
    border-bottom: 1px solid $border-color;
  }
}

/* Absolute Center Spinner */
.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loading:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 1500ms infinite linear;
  -moz-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.add-property-submit {
  @media screen and (max-width: $break-medium) {
    width: 100%;
  }
}